@use "./variables" as *;
@use "./mixins" as *;

.hlsplayer {
  display: flex;
  position: relative;
  .playerControls {
    display: flex;
    z-index: 1000;
    align-items: center;
    position: absolute;
    top: -0.5%;
    left: 0;
    margin-bottom: 5px;
    .playPause {
      margin: 10px;
      .playerButton {
        width: 45px;
        padding: 10px;
        border: 2px solid $white;
        border-radius: 100px;
        background-color: $white;
        &:hover {
          background-color: $eggshell;
          border: 2px solid $eggshell;
          i {
            transform: scale(1.1);
            transition: 0.3s;
          }
        }
        @include smallDesktop {
          width: 40px;
        }
        i {
          font-size: 2rem;
          color: $red;
          margin: 0 auto;
          @include smallDesktop {
            font-size: 1.5rem;
          }
        }
      }
    }
    .volume {
      width: 125px;
      display: flex;
      align-items: center;
      @include mobileLarge {
        visibility: hidden;
      }
    }
    .mute {
      background: transparent;
      border: none;
      padding: 5px;
      margin-right: 5px;
      i {
        font-size: 2rem;
        color: $white;
      }
    }
    @include mobileLarge {
      left: 0px;
    }
    @include mobile {
      left: -100px;
    }
    @include small {
      left: -120px;
    }
    input[type="range"] {
      width: 100%;
      appearance: none;
      background-color: transparent;
      border: none;
      padding: 0;
    }
    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      background-color: $eggshell;
      border-radius: 10px;
    }

    input[type="range"]::-moz-range-track {
      width: 100%;
      height: 5px;
      background-color: $eggshell;
      border-radius: 10px;
    }

    // Adjust the appearance of the slider thumb
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      transform: translateY(-5px);
      background-color: $white;
      border: 2px solid $grey;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: $grey;
      }
    }

    input[type="range"]::-moz-range-thumb {
      width: 15px;
      height: 15px;
      background-color: $white;
      border: 2px solid $grey;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: $grey;
      }
    }
  }
}
