$font: "Jost";
$bold: "Jost Bold";
$boldItalic: "Jost Italic";

$yellow: #edd05f;
$brightYellow: #f0dc00;
$darkYellow: #dcc155;
$playingYellow: #f0ce45d5;
$red: #d32631;
$hoverRed: #d14952;
$lightRed: #ff7276;
$selectedRed: #a73f42;
$orange: #f08a1c;
$blue: #33acff;
$green: #0f8639;
$brightWhite: #ffffff;
$white: #f7f5ea;
$eggshell: #ebe7e7;
$black: #1a1a1c;
$ash: #3a3a3c;
$modalBlack: #d32631ec;
$grey: #e1e0e0e3;
